In [36]:
import pandas as pd

airports = pd.read_csv('data/airports.csv')

In [15]:
airports

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total RF Heliport,40.070985,-74.933689,11.0,NaN,US,US-PA,Bensalem,no,K00A,NaN,00A,https://www.penndot.pa.gov/TravelInPA/airports...,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.947733,-151.692524,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,506791,00AN,small_airport,Katmai Lodge Airport,59.093287,-156.456699,80.0,NaN,US,US-AK,King Salmon,no,00AN,NaN,00AN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77416,46378,ZZ-0001,heliport,Sealand Helipad,51.894444,1.482500,40.0,EU,GB,GB-ENG,Sealand,no,NaN,NaN,NaN,http://www.sealandgov.org/,https://en.wikipedia.org/wiki/Principality_of_...,Roughs Tower Helipad
77417,307326,ZZ-0002,small_airport,Glorioso Islands Airstrip,-11.584278,47.296389,11.0,AF,TF,TF-U-A,Grande Glorieuse,no,NaN,NaN,NaN,NaN,NaN,NaN
77418,346788,ZZ-0003,small_airport,Fainting Goat Airport,32.110587,-97.356312,690.0,NaN,US,US-TX,Blum,no,87TX,NaN,87TX,NaN,NaN,NaN
77419,342102,ZZZW,closed,Scandium City Heliport,69.355287,-138.939310,4.0,NaN,CA,CA-YT,(Old) Scandium City,no,NaN,NaN,NaN,NaN,NaN,"ZZZW, ZZZW, ZYW, YK96"
77420,313629,ZZZZ,small_airport,Satsuma Iōjima Airport,30.784722,130.270556,338.0,AS,JP,JP-46,Mishima,no,RJX7,NaN,RJX7,NaN,http://wikimapia.org/6705190/Satsuma-Iwo-jima-...,"SATSUMA,IWOJIMA,RJX7"

In [4]:
airports.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total RF Heliport,40.070985,-74.933689,11.0,NaN,US,US-PA,Bensalem,no,K00A,NaN,00A,https://www.penndot.pa.gov/TravelInPA/airports...,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.947733,-151.692524,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,506791,00AN,small_airport,Katmai Lodge Airport,59.093287,-156.456699,80.0,NaN,US,US-AK,King Salmon,no,00AN,NaN,00AN,NaN,NaN,NaN

In [17]:
import sqlite3

# connect
conn = sqlite3.connect("./exercise_sqlite.db")

# create cursor
cur = conn.cursor()

# define query
all_airports = "SELECT * FROM airports"

In [18]:
# execute query (with the cursor)
cur.execute(all_airports)

# get the results (list of tuples)
rows = cur.fetchall()

#print(rows)

In [20]:
rows_df = pd.DataFrame(rows)

In [21]:
rows_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,6523,00A,heliport,Total RF Heliport,40.070985,-74.933689,11.0,None,US,US-PA,Bensalem,no,K00A,None,00A,https://www.penndot.pa.gov/TravelInPA/airports...,None,None
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,None,US,US-KS,Leoti,no,00AA,None,00AA,None,None,None
2,6524,00AK,small_airport,Lowell Field,59.947733,-151.692524,450.0,None,US,US-AK,Anchor Point,no,00AK,None,00AK,None,None,None
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,None,US,US-AL,Harvest,no,00AL,None,00AL,None,None,None
4,506791,00AN,small_airport,Katmai Lodge Airport,59.093287,-156.456699,80.0,None,US,US-AK,King Salmon,no,00AN,None,00AN,None,None,None

In [22]:
# limit the result to the first three rows

q2 = "SELECT * FROM airports LIMIT 3"

# execute query (with the cursor)
cur.execute(q2)

# get the results (list of tuples)
rows = cur.fetchall()

# create dataframe
rows_df = pd.DataFrame(rows)

# print results
rows_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,6523,00A,heliport,Total RF Heliport,40.070985,-74.933689,11.0,None,US,US-PA,Bensalem,no,K00A,None,00A,https://www.penndot.pa.gov/TravelInPA/airports...,None,None
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,None,US,US-KS,Leoti,no,00AA,None,00AA,None,None,None
2,6524,00AK,small_airport,Lowell Field,59.947733,-151.692524,450.0,None,US,US-AK,Anchor Point,no,00AK,None,00AK,None,None,None

In [24]:
airports.head(n = 3)

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total RF Heliport,40.070985,-74.933689,11.0,NaN,US,US-PA,Bensalem,no,K00A,NaN,00A,https://www.penndot.pa.gov/TravelInPA/airports...,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.947733,-151.692524,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN

In [30]:
q3 = """
SELECT id 
FROM airports 
WHERE ident = 'KLAX'"""

In [31]:
# execute query (with the cursor)
cur.execute(q3)

# get the results (list of tuples)
rows = cur.fetchall()

# create dataframe
rows_df = pd.DataFrame(rows)

# print results
rows_df.head()

      0
0  3632

In [ ]:
airports[airports.ident == 'KLAX'].id

In [32]:
airports.ident

0            00A
1           00AA
2           00AK
3           00AL
4           00AN
          ...
77416    ZZ-0001
77417    ZZ-0002
77418    ZZ-0003
77419       ZZZW
77420       ZZZZ
Name: ident, Length: 77421, dtype: object

In [33]:
airports["ident"]

0            00A
1           00AA
2           00AK
3           00AL
4           00AN
          ...
77416    ZZ-0001
77417    ZZ-0002
77418    ZZ-0003
77419       ZZZW
77420       ZZZZ
Name: ident, Length: 77421, dtype: object

In [37]:
airports.ident == "KLAX"

0        False
1        False
2        False
3        False
4        False
         ...
77416    False
77417    False
77418    False
77419    False
77420    False
Name: ident, Length: 77421, dtype: bool

In [40]:
airports[airports.ident == "KLAX"].id

37491    3632
Name: id, dtype: int64

In [48]:
q4 = "SELECT DISTINCT type FROM airports"

In [49]:
# execute query (with the cursor)
cur.execute(q4)

# get the results (list of tuples)
rows = cur.fetchall()

# create dataframe
rows_df = pd.DataFrame(rows)

# print results
rows_df.head(20)

                0
0        heliport
1   small_airport
2          closed
3   seaplane_base
4     balloonport
5  medium_airport
6   large_airport

In [50]:
airports.type

0             heliport
1        small_airport
2        small_airport
3        small_airport
4        small_airport
             ...
77416         heliport
77417    small_airport
77418    small_airport
77419           closed
77420    small_airport
Name: type, Length: 77421, dtype: object

In [51]:
airports.type.unique()

array(['heliport', 'small_airport', 'closed', 'seaplane_base',
       'balloonport', 'medium_airport', 'large_airport'], dtype=object)

In [57]:
q5 = """
SELECT * 
FROM airports 
WHERE iso_region = 'US-CA' AND type = 'seaplane_base'"""

In [58]:
# execute query (with the cursor)
cur.execute(q5)

# get the results (list of tuples)
rows = cur.fetchall()

# create dataframe
rows_df = pd.DataFrame(rows)

# print results
rows_df.head(20)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,7436,0O0,seaplane_base,San Luis Reservoir Seaplane Base,37.058300,-121.125999,544.0,None,US,US-CA,Los Banos,no,0O0,None,0O0,None,None,None
1,8877,22CA,seaplane_base,Commodore Center Seaplane Base,37.878893,-122.512697,NaN,None,US,US-CA,Mill Valley,no,22CA,None,22CA,None,None,None
2,12298,5CA9,seaplane_base,Konocti - Clear Lake Seaplane Base,38.977699,-122.718002,1326.0,None,US,US-CA,Kelseyville,no,5CA9,None,5CA9,None,None,None
3,16514,C39,seaplane_base,Folsom Lake Seaplane Base,38.707199,-121.133003,466.0,None,US,US-CA,Folsom,no,C39,None,C39,None,None,None
4,16830,CN20,seaplane_base,Ferndale Resort Seaplane Base,39.002998,-122.796997,1326.0,None,US,US-CA,Kelseyville,no,CN20,None,CN20,None,None,None
5,17157,E20,seaplane_base,Lake Berryessa Seaplane Base,38.550979,-122.227682,440.0,None,US,US-CA,Napa,no,None,None,E20,None,None,None
6,17613,H77,seaplane_base,Bridge Bay Resort Seaplane Base,40.757599,-122.322998,1065.0,None,US,US-CA,Redding,no,H77,None,H77,None,None,None
7,21444,L11,seaplane_base,Pebbly Beach Seaplane Base,33.338402,-118.311996,NaN,None,US,US-CA,Avalon,no,None,None,L11,None,None,None
8,23479,O06,seaplane_base,Lake Oroville Landing Area Seaplane Base,39.566601,-121.468002,900.0,None,US,US-CA,Oroville,no,O06,None,O06,None,None,None
9,24384,S74,seaplane_base,Lost Isle Seaplane Base,38.004101,-121.457001,NaN,None,US,US-CA,Stockton,no,S74,None,S74,None,None,None
10,300312,TWH,seaplane_base,Two Harbors Amphibious Terminal,33.432222,-118.508611,NaN,None,US,US-CA,Two Harbors,no,None,TWH,None,None,None,None
11,342286,US-3338,seaplane_base,Avalon Port Seaplane Base,33.345260,-118.324329,NaN,None,US,US-CA,Avalon,no,None,None,None,None,None,None

In [54]:
rows_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,7436,0O0,seaplane_base,San Luis Reservoir Seaplane Base,37.058300,-121.125999,544.0,None,US,US-CA,Los Banos,no,0O0,None,0O0,None,None,None
1,8877,22CA,seaplane_base,Commodore Center Seaplane Base,37.878893,-122.512697,NaN,None,US,US-CA,Mill Valley,no,22CA,None,22CA,None,None,None
2,12298,5CA9,seaplane_base,Konocti - Clear Lake Seaplane Base,38.977699,-122.718002,1326.0,None,US,US-CA,Kelseyville,no,5CA9,None,5CA9,None,None,None
3,16514,C39,seaplane_base,Folsom Lake Seaplane Base,38.707199,-121.133003,466.0,None,US,US-CA,Folsom,no,C39,None,C39,None,None,None
4,16830,CN20,seaplane_base,Ferndale Resort Seaplane Base,39.002998,-122.796997,1326.0,None,US,US-CA,Kelseyville,no,CN20,None,CN20,None,None,None
5,17157,E20,seaplane_base,Lake Berryessa Seaplane Base,38.550979,-122.227682,440.0,None,US,US-CA,Napa,no,None,None,E20,None,None,None
6,17613,H77,seaplane_base,Bridge Bay Resort Seaplane Base,40.757599,-122.322998,1065.0,None,US,US-CA,Redding,no,H77,None,H77,None,None,None
7,21444,L11,seaplane_base,Pebbly Beach Seaplane Base,33.338402,-118.311996,NaN,None,US,US-CA,Avalon,no,None,None,L11,None,None,None
8,23479,O06,seaplane_base,Lake Oroville Landing Area Seaplane Base,39.566601,-121.468002,900.0,None,US,US-CA,Oroville,no,O06,None,O06,None,None,None
9,24384,S74,seaplane_base,Lost Isle Seaplane Base,38.004101,-121.457001,NaN,None,US,US-CA,Stockton,no,S74,None,S74,None,None,None
10,300312,TWH,seaplane_base,Two Harbors Amphibious Terminal,33.432222,-118.508611,NaN,None,US,US-CA,Two Harbors,no,None,TWH,None,None,None,None
11,342286,US-3338,seaplane_base,Avalon Port Seaplane Base,33.345260,-118.324329,NaN,None,US,US-CA,Avalon,no,None,None,None,None,None,None

In [62]:
airports[(airports.iso_region == 'US-CA') & (airports.type == 'seaplane_base')]

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
1031,7436,0O0,seaplane_base,San Luis Reservoir Seaplane Base,37.058300,-121.125999,544.0,NaN,US,US-CA,Los Banos,no,0O0,NaN,0O0,NaN,NaN,NaN
2614,8877,22CA,seaplane_base,Commodore Center Seaplane Base,37.878893,-122.512697,NaN,NaN,US,US-CA,Mill Valley,no,22CA,NaN,22CA,NaN,NaN,NaN
6587,12298,5CA9,seaplane_base,Konocti - Clear Lake Seaplane Base,38.977699,-122.718002,1326.0,NaN,US,US-CA,Kelseyville,no,5CA9,NaN,5CA9,NaN,NaN,NaN
16012,16514,C39,seaplane_base,Folsom Lake Seaplane Base,38.707199,-121.133003,466.0,NaN,US,US-CA,Folsom,no,C39,NaN,C39,NaN,NaN,NaN
18914,16830,CN20,seaplane_base,Ferndale Resort Seaplane Base,39.002998,-122.796997,1326.0,NaN,US,US-CA,Kelseyville,no,CN20,NaN,CN20,NaN,NaN,NaN
21892,17157,E20,seaplane_base,Lake Berryessa Seaplane Base,38.550979,-122.227682,440.0,NaN,US,US-CA,Napa,no,NaN,NaN,E20,NaN,NaN,NaN
28235,17613,H77,seaplane_base,Bridge Bay Resort Seaplane Base,40.757599,-122.322998,1065.0,NaN,US,US-CA,Redding,no,H77,NaN,H77,NaN,NaN,NaN
40336,21444,L11,seaplane_base,Pebbly Beach Seaplane Base,33.338402,-118.311996,NaN,NaN,US,US-CA,Avalon,no,NaN,NaN,L11,NaN,NaN,NaN
48579,23479,O06,seaplane_base,Lake Oroville Landing Area Seaplane Base,39.566601,-121.468002,900.0,NaN,US,US-CA,Oroville,no,O06,NaN,O06,NaN,NaN,NaN
53495,24384,S74,seaplane_base,Lost Isle Seaplane Base,38.004101,-121.457001,NaN,NaN,US,US-CA,Stockton,no,S74,NaN,S74,NaN,NaN,NaN
62753,300312,TWH,seaplane_base,Two Harbors Amphibious Terminal,33.432222,-118.508611,NaN,NaN,US,US-CA,Two Harbors,no,NaN,TWH,NaN,NaN,NaN,NaN
67100,342286,US-3338,seaplane_base,Avalon Port Seaplane Base,33.345260,-118.324329,NaN,NaN,US,US-CA,Avalon,no,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
(airports.iso_region == 'US-CA')

0        False
1        False
2        False
3        False
4        False
         ...
77416    False
77417    False
77418    False
77419    False
77420    False
Name: iso_region, Length: 77421, dtype: bool

In [60]:
(airports.type == 'seaplane_base')

0        False
1        False
2        False
3        False
4        False
         ...
77416    False
77417    False
77418    False
77419    False
77420    False
Name: type, Length: 77421, dtype: bool

In [61]:
(airports.iso_region == 'US-CA') & (airports.type == 'seaplane_base')

0        False
1        False
2        False
3        False
4        False
         ...
77416    False
77417    False
77418    False
77419    False
77420    False
Length: 77421, dtype: bool

In [64]:
q6 = """
SELECT ident, name, municipality 
FROM airports 
WHERE iso_region = 'US-CA' AND type = 'large_airport'"""

In [65]:
# execute query (with the cursor)
cur.execute(q6)

# get the results (list of tuples)
rows = cur.fetchall()

# create dataframe
rows_df = pd.DataFrame(rows)

# print results
rows_df.head(20)

      0                                                1              2
0  KCMA                  Camarillo International Airport      Camarillo
1  KLAX  Los Angeles / Tom Bradley International Airport    Los Angeles
2  KOAK       Metropolitan Oakland International Airport        Oakland
3  KONT                    Ontario International Airport        Ontario
4  KSAN                  San Diego International Airport      San Diego
5  KSFO              San Francisco International Airport  San Francisco
6  KSJC  Norman Y. Mineta San Jose International Airport       San Jose
7  KSMF                 Sacramento International Airport     Sacramento
8  KSNA   John Wayne Orange County International Airport      Santa Ana

In [ ]:
airports[(airports.iso_region == 'US-CA') & (airports.type == 'large_airport')][['ident', 'name', 'municipality']]

In [69]:
airports[(airports.iso_region == 'US-CA') & (airports.type == 'large_airport')][['ident', 'name', 'municipality']]

      ident                                             name   municipality
36096  KCMA                  Camarillo International Airport      Camarillo
37491  KLAX  Los Angeles / Tom Bradley International Airport    Los Angeles
38021  KOAK       Metropolitan Oakland International Airport        Oakland
38077  KONT                    Ontario International Airport        Ontario
39630  KSAN                  San Diego International Airport      San Diego
39670  KSFO              San Francisco International Airport  San Francisco
39691  KSJC  Norman Y. Mineta San Jose International Airport       San Jose
39713  KSMF                 Sacramento International Airport     Sacramento
39719  KSNA   John Wayne Orange County International Airport      Santa Ana