# 2020-01-14 Exam

### General Instructions:

Welcome to the **Python Programming (for Data Science)** exam session! Please, read **carefully** the instructions below before start writing code. 
This session will last **60 minutes** (plus any additional time gained during the first part of the exam) and is worth 10 points.

You will earn all of the points associated to an exercise **if and only if** the answer you provide passes successfully **all** the tests for that exercise (both those that are visible and those that are hidden to you). Some exercises do not have a set of predefined tests and will be evaulated line by line.<br />

To actually write down your implementation, make sure to fill in any place that says <code style="color:green">**_# YOUR CODE HERE_**</code>. Note also that you should **either comment or delete** any <code style="color:green">**raise NotImplementedError()**</code> exception.<br />

For this exam session **you will not be allowed** to use any lecture material yet you will be able to access the following APIs:

-  [Python](https://docs.python.org/)
-  [Numpy](https://numpy.org/)
-  [Scipy](https://docs.scipy.org/)
-  [Pandas](https://pandas.pydata.org/)
-  [Matplotlib](https://matplotlib.org/)
-  [Seaborn](http://seaborn.pydata.org/)
-  [SciKit-Learn](http://scikit-learn.org/stable/)

Once you are done, save this notebook and rename it as follows:

<code>**YOURUSERNAME_2021-01-14.ipynb**</code>

where <code>**YOURUSERNAME**</code> is your actual username. To be consistent, we are expecting your username to be composed by your first name's initial, followed by your full lastname. As an example, in my case this notebook must be saved as <code>**dinunzio_2021-01-14.ipynb**</code> (Remember to insert an underscore <code>**'_'**</code> between your username and the date).<br />

Finally, go back to [Moodle](https://esami.elearning.unipd.it/) and check for the "**2020-01-14 Python Programming Exam**" item; there, you will be able to upload your notebook file for grading.

<center><h3>Submissions are allowed **until <span style="color:red">Thursday, 14 January 2021 at 10:00 AM</span>**</h3></center>

Note that there is no limit on the number of submissions; however, be careful when you upload a new version of this notebook because each submission overwrites the previous one. 
The due date indicated above is **strict**; after that, the system will not accept any more submissions and the latest uploaded notebook will be the one considered for grading.

The archive you have downloaded (<code style="color:magenta">**2021-01-14-exam.zip**</code>) is orgaized as follows:

<code style="color:red">**2021-01-14-exam**</code> (root)<br />
|----<code style="color:green">**2021-01-14.ipynb**</code> (_this_ notebook)<br />
|----<code>**dataset.csv**</code> (the dataset you will be using for answering data science related questions)<br />
|----<code>**factbook.db**</code> (the sqlite database of the CIA factbook)<br />
|----<code>**factbook.sql**</code> (the sql code that was used to create the table contained in the factbook.db)<br />
|----<code>**README.txt**</code> (a description of the dataset.csv file)

<center><h3>... Now, sit back, relax, and do your best!</h3></center>

**First Name** = Your _first name_ here

**Last Name** = Your _last name_ here

In [13]:
pip install nose

Requirement already satisfied: nose in /Users/mattiagugole/opt/anaconda3/lib/python3.9/site-packages (1.3.7)
Note: you may need to restart the kernel to use updated packages.

In [14]:
#from google.colab import drive
#drive.mount('/content/drive')

In [15]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# Adding the following line, allows Jupyter Notebook to visualize plots
# produced by matplotlib directly below the code cell which generated those.
#%matplotlib inline
import seaborn as sns
from scipy.stats import norm
from nose.tools import assert_equal
from operator import itemgetter

EPSILON = .0000001 # tiny tolerance for managing subtle differences resulting from floating point operations

DATASET_FILE = "dataset.csv"

## Exercise 1 (1 point)

In this part, you will be working with the dataset file <code>**dataset.csv**</code>. For a complete description of this data source, please refer to the <code>**README.txt**</code>.
In a nutshell, this is a sample of **1,000 instances** from a larger dataset containing census and demographic information for a set of citizens.
Each citizen (i.e., row in the file) is described by **14** features (i.e., columns) and labeled with an binary value (i.e., the 15th and last column called <code>**income_greater_than_50k**</code>), which takes on two values: **-1** (indicating the citizen's yearly income is **below or equal than** 50k dollars) or **+1**, otherwise.<br />
The cell below is responsible for correctly loading the dataset from the <code>**dataset.csv**</code> file. Once this is executed, you can start answering the questions below.

In [16]:
pd.read_csv??

In [17]:
# Load the dataset stored at `DATASET_FILE` in a variable names "data" using "," as field separator and '?' to detect NAs

# YOUR CODE HERE
# raise NotImplementedError()
data = pd.read_csv(DATASET_FILE, sep = ",", na_values=["?"])
# check the first lines of your dataset
data.head()
data.shape
## THERE IS NO TEST OF CORRECTNESS FOR THIS PART

(1000, 15)

## Exercise 2 (1 point)

Implement the function <code>**avg_capital_gain_per_age**</code> below. This takes as input a <code>**pandas.DataFrame**</code> object and an integer value <code>**age**</code>, and returns the **average** value of <code>**capital_gain**</code> of citizens having that age.

(**NOTE:** If the input age is not present, the <code>**mean()**</code> function is robust and returns <code>**np.nan**</code>)

In [18]:
def avg_capital_gain_per_age(data, age):
    """
    Return the average value of capital gain for citizens having a specific age.
    """
    # YOUR CODE HERE
    
    if age in data["age"].unique():
        return data[data["age"] == age]["capital_gain"].mean()
    else:
        return np.nan

In [19]:
try:
    print(y)
    x = 1/0
except ZeroDivisionError:
    print("division by zero error")
except Exception as e: 
    print(e)

name 'y' is not defined

In [20]:
"""
Test the correctness of the implementation of the `avg_capital_gain_per_age` function
"""

assert_equal(True, np.abs(192.80769230769232 - avg_capital_gain_per_age(data, 32)) < EPSILON)
assert_equal(0.0, avg_capital_gain_per_age(data, 27))
assert_equal(2330.0, avg_capital_gain_per_age(data, 48))

## Exercise 3 (1 point)

Implement the function <code>**hours_per_week_stats**</code> below. This takes as input a <code>**pandas.DataFrame**</code> object and returns a tuple containing the min, max, avg, and median value of <code>**hours_per_week**</code>, yet computed on a _slice_ of the input <code>**pandas.DataFrame**</code>.<br />
The sliced dataset represents the subpopulation containing **female** citizens whose age is **between 36 and 49 years old** (extremes included), who were born in the **United-States** and having a value of <code>**education_num**</code> **strictly greater than** the _overall_ average.

In [21]:
data.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income_greater_than_50k
0,49,Private,153536,Some-college,10,Divorced,Prof-specialty,Not-in-family,White,Male,14084,0,44,United-States,1
1,19,Private,417657,HS-grad,9,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,50,United-States,-1
2,41,Private,143046,Masters,14,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,-1
3,46,Private,377401,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,1902,70,Canada,1
4,40,Private,224232,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,1

In [27]:
def hours_per_week_stats(data):
    """
    Return a tuple containing the min, max, avg, and median value of `hours_per_week` feature,
    yet limited to a slice of the input DataFrame (data). 
    In particular, this slice will contain instances referring to female citizens
    whose age is between 36 and 49 (extremes included) born in the United-States
    and having a value of education_num strictly above the overall population average.
    """
    # YOUR CODE HERE
    s = data.loc[
        (data['sex'] == 'Female') &
        (data['age'] >= 36) & 
        (data['age'] <= 49) &
        (data['native_country'] == 'United-States') & 
        (data['education_num'] > data['education_num'].mean())
    ]['hours_per_week']
    return (s.min(), s.max(), s.mean(), s.median())

In [28]:
"""
Test the correctness of the implementation of the `hours_per_week_stats` function
"""

# Call off `hours_per_week_stats` function
stats = hours_per_week_stats(data)

assert_equal(5, stats[0])
assert_equal(60, stats[1])

## Exercise 4 (2 points)

Implement the function <code>**standardize_dataset**</code>, which takes as input a <code>**pandas.DataFrame**</code> object and modifies it by creating **new** columns corresponding to the **standardized** values of _numerical_ columns only, except for the target column, i.e., the very last column named <code>**income_greater_than_50k**</code>.<br />
To standardize a column $X$, each original value $x\in X$ should be modified with $x_{\text{std}}$ as follows:

$$
x_{\text{std}} = \frac{x - \mu_X}{\sigma_X}
$$

where $\mu_X$ and $\sigma_X$ are the **mean** and **standard deviation** computed across $X$, respectively.

To be sure standardization is applied to a numerical column only, you can use the following built-in function:

<code>**pd.api.types.infer_dtype(data[column], skipna=True)**</code>.

If the value returned by this function is equal to the string <code>**'integer'**</code>, then you can apply the standardization.

Finally, the naming convention for standardized columns is as follows: if <code>**column**</code> is the name of the original column, then its standardized version will be <code>**column_std**</code>.

In [29]:
def standardize_dataset(data):
    # YOUR CODE HERE
    for col in data.columns:
        if (data[col].dtype == 'int64' or data[col].dtype == 'float64') and (col != 'income_greater_than_50k'):
            data[col + '_std'] = (data[col] - data[col].mean()) / (data[col].std())

In [30]:
"""
Test the correctness of the implementation of the `standardize_dataset` function
"""

# Call off `standardize_dataset` function on a copy of our original dataset
data_cpy = data.copy()
standardize_dataset(data_cpy)

assert_equal(1000, data_cpy.shape[0])
assert_equal(21, data_cpy.shape[1])
assert_equal(True, np.abs(0.093258105603949315 - data_cpy.iloc[42]['age_std']) < EPSILON)
assert_equal(True, np.abs(-0.21956059890921917 - data_cpy.iloc[73]['capital_loss_std']) < EPSILON)

In [31]:
data_cpy.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,...,capital_loss,hours_per_week,native_country,income_greater_than_50k,age_std,fnlwgt_std,education_num_std,capital_gain_std,capital_loss_std,hours_per_week_std
0,49,Private,153536,Some-college,10,Divorced,Prof-specialty,Not-in-family,White,Male,...,0,44,United-States,1,0.763109,-0.329267,-0.042209,2.105746,-0.219561,0.278114
1,19,Private,417657,HS-grad,9,Never-married,Handlers-cleaners,Own-child,White,Male,...,0,50,United-States,-1,-1.469727,2.165592,-0.433034,-0.181888,-0.219561,0.788883
2,41,Private,143046,Masters,14,Never-married,Adm-clerical,Not-in-family,White,Female,...,0,40,United-States,-1,0.167686,-0.428354,1.521092,-0.181888,-0.219561,-0.062399
3,46,Private,377401,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,...,1902,70,Canada,1,0.539825,1.785338,-0.433034,-0.181888,4.581151,2.491447
4,40,Private,224232,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,...,0,40,United-States,1,0.093258,0.338520,1.130267,-0.181888,-0.219561,-0.062399

## Exercise 5 (1 point)

Connect to the CIA Factbook database factbook.db and use an SQL query to select all the data of the columns *name* and *population* contained in the table *facts*. Build a pandas DataFrame with the result set in a varibale named *countries*. Rename the columns of the dataframe with the following names: "country", "population".

In [ ]:
import sqlite3 
# YOUR CODE HERE
## THERE IS NO TEST OF CORRECTNESS FOR THIS PART

## Exercise 6 (1 point)

Merge the dataframe *data* created in exercise 1 and the dataframe *countries* built in the previous exercise using the columns *native_country* and *country*, respectvely. Save the result in a new dataframe names *data_ext*.

In [ ]:
# YOUR CODE HERE

In [ ]:
"""
Test the correctness of the size of the merged dataset"""

assert_equal(True, (data_ext.shape[0] == 56))

## Exercise 7 (1 point)

Split the *data_ext* dataframe into two dataframes using the "masking" approach. One dataframe, named "lower", must contain the rows of *data_ext* that have a population lower than the mean of the population of the dataframe *countries*; the other dataframe, named "gr_eq", must contain the rows of *data_ext* that have a population greater or equal than the mean of the population of the dataframe *countries*.

In [ ]:
# YOUR CODE HERE

## THERE IS NO TEST OF CORRECTNESS FOR THIS PART

## Exercise 8 (2 points)

Build a Figure object and create a 2 x 1 matrix of subplots.
In the first subplot you must plot the histogram of the numerical feature <code>**age**</code> of the subset of data of countries with a popoulation lower than the mean using <code>**distplot**</code>.
In the second subplot you must plot the histogram of the numerical feature <code>**age**</code> of the subset of data of countries with a popoulation greater or equal than the mean using <code>**distplot**</code>. For both histograms, use the provided list of bins named *age_bins*.

In [ ]:
age_bins = [0, 10, 20, 30, 40, 50, 60, 70 ,80, 90, 100]

# YOUR CODE HERE


## THERE IS NO TEST OF CORRECTNESS FOR THIS PART