### Create connection with SQLlite db

In [2]:
import sqlite3

def create_connection(db_file):
    '''Create a db connection to the SQLite db
    specified by the db_file
    :param db file: database_file
    :return : Connection object or None
    '''
    conn = True
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)
    return conn

conn = sqlite3.connect("chinook.db") #or the path where my db file is at

In [3]:
conn

In [11]:
def select_all_tasks(conn):
    '''
    Query all the rows in the tasks table
    :param conn: the Connection object
    :return:
    '''
    cur = conn.cursor()
    cur.execute("SELECT * FROM tasks")
    
    rows = cur.fetchall()
    
    for row in rows:
        print(row)

In [12]:
cur = conn.cursor()

In [13]:
cur

In [14]:
'''
SELECT ...
FROM ...
WHERE ...
'''
# 1) FROM what table(s)
# 2) WHERE, if you need to filter data
# 3) SELECT some column

'\nSELECT ...\nFROM ...\nWHERE ...\n'

In [15]:
all_the_artists = '''
SELECT *
FROM artists
'''

In [16]:
all_the_artists

'\nSELECT *\nFROM artists\n'

In [18]:
cur.execute(all_the_artists)

In [19]:
rows = cur.fetchall()

In [20]:
type(rows)

list

In [23]:
rows[:5]

[(1, 'AC/DC'),
 (2, 'Accept'),
 (3, 'Aerosmith'),
 (4, 'Alanis Morissette'),
 (5, 'Alice In Chains')]

rows is a list of tuples

In [24]:
import pandas as pd

In [27]:
df_rows = pd.DataFrame(rows)

In [28]:
df_rows

       0                                                  1
0      1                                              AC/DC
1      2                                             Accept
2      3                                          Aerosmith
3      4                                  Alanis Morissette
4      5                                    Alice In Chains
..   ...                                                ...
270  271   Mela Tenenbaum, Pro Musica Prague & Richard Kapp
271  272                             Emerson String Quartet
272  273  C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon...
273  274                                      Nash Ensemble
274  275                              Philip Glass Ensemble

[275 rows x 2 columns]

In [30]:
pd.DataFrame(rows, columns = ["first", "second"])

     first                                             second
0        1                                              AC/DC
1        2                                             Accept
2        3                                          Aerosmith
3        4                                  Alanis Morissette
4        5                                    Alice In Chains
..     ...                                                ...
270    271   Mela Tenenbaum, Pro Musica Prague & Richard Kapp
271    272                             Emerson String Quartet
272    273  C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon...
273    274                                      Nash Ensemble
274    275                              Philip Glass Ensemble

[275 rows x 2 columns]

In [32]:
cur.description

(('ArtistId', None, None, None, None, None, None),
 ('Name', None, None, None, None, None, None))

In [33]:
[elem for elem in cur.description] # List Comprehension

[('ArtistId', None, None, None, None, None, None),
 ('Name', None, None, None, None, None, None)]

In [34]:
[elem[0] for elem in cur.description]

['ArtistId', 'Name']

In [35]:
columns_names = [elem[0] for elem in cur.description]

In [36]:
pd.DataFrame(rows, columns = columns_names)

     ArtistId                                               Name
0           1                                              AC/DC
1           2                                             Accept
2           3                                          Aerosmith
3           4                                  Alanis Morissette
4           5                                    Alice In Chains
..        ...                                                ...
270       271   Mela Tenenbaum, Pro Musica Prague & Richard Kapp
271       272                             Emerson String Quartet
272       273  C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon...
273       274                                      Nash Ensemble
274       275                              Philip Glass Ensemble

[275 rows x 2 columns]